.image{
    background:url(./samarqand\ svet.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    width:100%;
    height:200px;

}
.dark{
    background-color:rgba(0, 0, 0, 0.61);
    width:100%;
    height:200px;
}

#bg-box{
    background:url(./oy.jpg);
    background-attachment: fixed;
    min-height:200px;
    position:relative;
}
.dark-overlay{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.712);
}
#what-we-do{
    background:url(./jpg4.jpg);
    background-attachment: fixed;
    min-height:200px;
    position:relative;
}
#gallery{
    background:url(./qora\ fon.jpg);
    background-size:cover;
}
.col-md-4 img{
    max-width:300px;
   min-height:200px;
}
